body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #224783;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
  background-color: white;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 420px;
    overflow: hidden;
    height: 90vh;
}

img {
    max-width: 300px;
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background: white;
}
